<div class="container-fluid">
        <div class="justify-content-center ml-5" >
                <p><b>fullName:</b> {{service.profile.firstName}} {{service.profile.lastName}}</p>
                <p><b>mathematics:</b> {{service.checker.mathScore}}</p>
                <p><b>physics:</b> {{service.checker.phyScore}}</p>
                <p><b>chemistry:</b> {{service.checker.chmScore}}</p>
                <p><b>biology:</b> {{service.checker.bioScore}}</p>
                <p><b>Government:</b>  {{service.checker.govScore}}</p>
                <p><b>total score:</b> {{service.checker.totalScore}}</p>
                

            </div>
        
            <div class="justify-content-center ml-5"><button class="btn btn-danger justify-content-center" >
                    <a routerLink="/logout" class="text-light">log out</a></button></div>
</div>