
            <nav class="navbar navbar-expand bg-primary  navbar-sm mb-5"  style="min-height: 80px">
                    <!-- <div class="navbar-collapse collapse "> -->
                        <img src="../../assets/img/sqi.jpg" alt="image not exist" class=" mr-3 rounded-circle" style="width:70px; height:70px;">
                        <!-- <p class="justify-content-center text-light ml-5">myApp</p> -->
                        <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a routerLink="/home" class="nav-link text-light">home</a>
                                </li>
                                <li class="nav-item">
                                        <a routerLink="/student/login1" class="nav-link text-light">student</a>
                                </li>
                                <li class="nav-item">
                                        <a routerLink="/administration/login2" class="nav-link text-light">admin</a>
                                </li>
                                <li class="nav-item">
                                                <a routerLink="/logout" class="nav-link text-light">logout</a>
                                        </li>
                
                                
                                
                            </ul>
                    <!-- </div> -->
                    
                </nav>


            
                    <!-- <router-outlet></router-outlet> -->