<!-- //  this.refresh();
  //  refresh=()=>{
  //   this.seconds = 59;
  //   this.minutes = 30;
  //   this.seconds--;
  //   if(this.seconds==0){
  //     this.minutes--;
  //   }
  //     if(this.minutes==0){
  //       this.seconds=0;
  //       this.minutes=0;
  //     }
  //   }

   
 // this.int = setInterval(()=>{this.countDown()}, 100);
// saved(){
    
  //     const form:breakdown ={
  //       mathScore:this.mathScore.value,
  //       phyScore:this.phyScore.value,
  //       chmScore:this.chmScore.value,
  //       bioScore:this.bioScore.value,
  //       govScore:this.govScore.value,
  //       totalScore:this.totalScore.value,
  //       candidateId:this.candidateId.value
        
  //     }
  //     this.service.saveScore(form).subscribe(
  //     res=>{
  //       this.router.navigate(["/studentprofile"])
  //     },
  //       err=>console.log(err)
        
  //     )
  //     console.log(form)
  //     return;
      
  //   }
   

// confirm=()=>{
    //   this.sub = confirm('Are you sure you want to submit')
    //   this.pause()
    //  }
    //  refresh=()=>{
    //    this.seconds = 59;
    //    this.minutes = 30;
    //    this.seconds--;
    //    if(this.seconds==0){
    //      this.minutes--;
    //    }
    //      if(this.minutes==0){
    //        this.seconds=0;
    //        this.minutes=0;
    //      }
    //    }
      // setInterval(()=>{this.countDown()}, 50);
      //  this.countDown()
    //    if(this.seconds==0 && this.minutes==0){
    //   this.int = setInterval(()=>{this.countDown()}, 50);
    //   this.score = 0
    // }
    //  }
 <small class="text-danger" [class.d-none]="phoneNo.valid || phoneNo.untouched">phone number is required and must be 11 digit</small> -->
  <!-- <small class="text-danger" [class.d-none]="phoneNo.valid || phoneNo.untouched">phone number is required and must be 11 digit</small> --> -->


<!-- 
!-- <h3>firstName : {{service.record.firstName}} </h3>
                <h3>lastName score is : {{service.record.lastName}} </h3>
                <h3>email : {{service.record.email}} </h3> 
                <h3>phone number : {{service.record.phoneNo}} </h3>
                <h3>department : {{service.record.department}} </h3>
                <h3>your total score is : {{service.score}} </h3>

        </div> --> 


        <!-- <div class="row mb-5 justify-content-center">
        <button class="btn btn-primary text-light"> <a routerLink="/cbt/math" class="text-light">Mathematics</a></button>
        <button class="btn btn-primary text-light "> <a routerLink="/cbt/phy" class="text-light">Physics</a></button>
        <button class="btn btn-primary text-light"> <a routerLink="/cbt/chm" class="text-light">Chemistry</a></button>
        <button class="btn btn-primary text-light"> <a routerLink="/cbt/bio" class="text-light">Biology</a></button>
        <button class="btn btn-primary text-light"> <a routerLink="/cbt/gov" class="text-light">Government</a></button>
        <button class="btn btn-primary text-light"> <a routerLink="/cbt/gns" class="text-light">English</a></button>
      </div> -->



    <!-- // this.arr.forEach((el,i)=>{
    //   if(el == this.answerM[i]) this.score++;
    //   console.log(this.score);
    // })
 -->

<!-- 
 // collect(){
  //   const  datas = {firstName:this.firstName,lastName:this.lastName,
  //   phoneNo:this.phoneNo,department:this.department,totalScore:this.totalScore,candidateId:this.candidateId} 
  //   this.recorded(datas);
  //   console.log(datas)
    
     
  //  }
  
  

  // collect=()=>{
  //     const datas:tableData={firstName:this.firstName,lastName:this.lastName,phoneNo:this.phoneNo,department:this.department;
  //        candidateId:this.candidateId,
  //     }
  //     this.recorded(this.datas)
  //     .subscribe(res=>{
  //       console.log(res)
  //       if (res.success) {
  //             this.service.tabledetail = res.message;
  //           this.router.navigate(["/cbt"]) 
  //       }
  //       else{
  //         this.invalide=res.message;
  //       }
  //     },
  //     )
      
  //   }
  // }
   
  
 
 
  // onSubmit(){
  //   if(this.regform.valid){
  //     const form:User1={
  //        email:this.email.value
  //     }
  //     this.service.studlog(form)
  //     .subscribe(res=>{
  //       console.log(res)
  //       if (res.success) {
  //             this.service.profile = res.message;
  //           this.router.navigate(["/cbt"]) 
  //       }
  //       else{
  //         this.invalide=res.message;
  //       }
  //     },
  //     )

      
  //   }
  //   console.log('invalid'); -->
  





 






 -->
