<!-- <div class="container-fluid">
        <div class="container-fluid">
                 <table class="table table-dark">
                        <thead>
                          <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>score</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>service.record.firstName</td>
                            <td>service.record.lastName</td>
                            <td>service.score</td>
                          </tr>
                          <tr>
                                <td>service.record.firstName</td>
                                <td>service.record.lastName</td>
                                <td>service.score</td>
                          </tr>
                          <tr>
                                <td>service.record.firstName</td>
                                <td>service.record.lastName</td>
                                <td>service.score</td>
                          </tr>
                        </tbody>
                      </table>
        </div> 
            

</div> -->
