<div class="container-fluid">
     <h2>MATHEMATICS</h2>
    <form>
  <ol>
    <li>what is 2+2</li>
    <div class="form-check-inline">
        <label class="form-check-label" for="radio1">
            <input type="radio" class="form-check-input " id="radio1" name="optradio1" value="option1">  1
        </label>
    </div>
    <div class="form-check-inline">
        <label class="form-check-label" for="radio2">
          <input type="radio" class="form-check-input" id="radio2" name="optradio2" value="option2" checked> 4
        </label>
      </div>
      <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" id="radio3" name="optradio3" value="option3"> 8
          </label>
        </div>
        <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" id="radio4" name="optradio4" value="option4"> 3
                </label>
              </div>

              <li>what is 5/2 - 3/5</li>
    <div class="form-check-inline">
        <label class="form-check-label" for="radio1">
            <input type="radio" class="form-check-input" id="radio1" name="optradio5" value="option1" > 3/4
          </label>
    </div>
    <div class="form-check-inline">
        <label class="form-check-label" for="radio2">
          <input type="radio" class="form-check-input" id="radio2" name="optradio6" value="option2"> 2/5
        </label>
      </div>
      <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" id="radio3" name="optradio7" value="option3"> 10/19
          </label>
        </div>
        <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" id="radio4" name="optradio8" value="option4" checked> 19/10
                </label>
              </div>

              <li>what is 12 % 3</li>
    <div class="form-check-inline">
        <label class="form-check-label" for="radio1">
            <input type="radio" class="form-check-input" id="radio1" name="optradio9" value="option1" > 3
          </label>
    </div>
    <div class="form-check-inline">
        <label class="form-check-label" for="radio2">
          <input type="radio" class="form-check-input" id="radio2" name="optradio10" value="option2"> 4
        </label>
      </div>
      <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" id="radio3" name="optradio11" value="option3"> 6
          </label>
        </div>
        <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" id="radio4" name="optradio12" value="option4" checked> 0
                </label>
              </div>

              <li>Divid 144/12</li>
    <div class="form-check-inline">
        <label class="form-check-label" for="radio1">
            <input type="radio" class="form-check-input" id="radio1" name="optradio13" value="option1"> 8
          </label>
    </div>
    <div class="form-check-inline">
        <label class="form-check-label" for="radio2">
          <input type="radio" class="form-check-input" id="radio2" name="optradio14" value="option2" checked> 12
        </label>
      </div>
      <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" id="radio3" name="optradio15" value="option3"> 24
          </label>
        </div>
        <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" id="radio4" name="optradio16" value="option4"> 16
                </label>
              </div>

              <li>what is 4^2</li>
    <div class="form-check-inline">
        <label class="form-check-label" for="radio1">
            <input type="radio" class="form-check-input" id="radio1" name="optradio17" value="option1" > 64
          </label>
    </div>
    <div class="form-check-inline">
        <label class="form-check-label" for="radio2">
          <input type="radio" class="form-check-input" id="radio2" name="optradio18" value="option2"> 32
        </label>
      </div>
      <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" id="radio3" name="optradio19" value="option3" checked> 16
          </label>
        </div>
        <div class="form-check-inline">
                <label class="form-check-label">
                  <input type="radio" class="form-check-input" id="radio4" name="optradio20" value="option4"> 8
                </label>
              </div>
  </ol>
  </form>
  
  <h2>PYHSICS</h2>

  <form>
      
      <ol>
        <li>The unit of force is </li>
        <div class="form-check-inline">
            <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="radio1" name="optradi1" value="option1"> kilometer
              </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="radio2">
              <input type="radio" class="form-check-input" id="radio2" name="optradi2" value="option2" > watt
            </label>
          </div>
          <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" id="radio3" name="optradi3" value="option3"> joules
              </label>
            </div>
            <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" id="radio4" name="optradio4" value="option4" checked> newton
                    </label>
                  </div>

                  <li>The combination of cell give</li>
        <div class="form-check-inline">
            <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="radio1" name="optradio5" value="option1" > emf
              </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="radio2">
              <input type="radio" class="form-check-input" id="radio2" name="optradio6" value="option2" checked> battery
            </label>
          </div>
          <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" id="radio3" name="optradio7" value="option3"> electrode
              </label>
            </div>
            <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" id="radio4" name="optradio8" value="option4" > p.d
                    </label>
                  </div>

                  <li>The following are derived quantity except</li>
        <div class="form-check-inline">
            <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="radio1" name="optradio9" value="option1" > newton
              </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="radio2">
              <input type="radio" class="form-check-input" id="radio2" name="optradio10" value="option2"> weight
            </label>
          </div>
          <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" id="radio3" name="optradio11" value="option3"> torque
              </label>
            </div>
            <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" id="radio4" name="optradio12" value="option4" checked> meter
                    </label>
                  </div>

                  <li>The distance between the upper and lower fixed point of a scale is</li>
        <div class="form-check-inline">
            <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="radio1" name="optradio13" value="option1" checked> fundamental interval
              </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="radio2">
              <input type="radio" class="form-check-input" id="radio2" name="optradio14" value="option2" > fundamental quantity
            </label>
          </div>
          <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" id="radio3" name="optradio15" value="option3"> celsius scale
              </label>
            </div>
            <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" id="radio4" name="optradio16" value="option4"> differential
                    </label>
                  </div>

                  <li>How many law of motion do we have</li>
        <div class="form-check-inline">
            <label class="form-check-label" for="radio1">
                <input type="radio" class="form-check-input" id="radio1" name="optradio17" value="option1" > 4
              </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" for="radio2">
              <input type="radio" class="form-check-input" id="radio2" name="optradio18" value="option2"> 2
            </label>
          </div>
          <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" id="radio3" name="optradio19" value="option3" checked> 3
              </label>
            </div>
            <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="radio" class="form-check-input" id="radio4" name="optradio20" value="option4"> 5
                    </label>
                  </div>
      </ol>
      </form>

      <h2>CHEMISTRY</h2>
      <form>
      
          <ol>
            <li>Other name for alkane is  </li>
            <div class="form-check-inline">
                <label class="form-check-label" for="radio1">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio1" value="option1"> olefin
                  </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="radio2">
                  <input type="radio" class="form-check-input" id="radio2" name="optradio2" value="option2" > wax
                </label>
              </div>
              <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="radio3" name="optradio3" value="option3"> antracine
                  </label>
                </div>
                <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" id="radio4" name="optradio4" value="option4" checked> parafin
                        </label>
                      </div>
    
                      <li>The combination of glucose and fructose give</li>
            <div class="form-check-inline">
                <label class="form-check-label" for="radio1">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio5" value="option1" > galactose
                  </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="radio2">
                  <input type="radio" class="form-check-input" id="radio2" name="optradio6" value="option2" checked> sucrose
                </label>
              </div>
              <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="radio3" name="optradio7" value="option3"> lactose
                  </label>
                </div>
                <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" id="radio4" name="optradio8" value="option4" > maltose
                        </label>
                      </div>
    
                      <li>The method of separating mixture of palm oil and water is </li>
            <div class="form-check-inline">
                <label class="form-check-label" for="radio1">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio9" value="option1" > filtration
                  </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="radio2">
                  <input type="radio" class="form-check-input" id="radio2" name="optradio10" value="option2"> decantation
                </label>
              </div>
              <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="radio3" name="optradio11" value="option3"> distilation
                  </label>
                </div>
                <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" id="radio4" name="optradio12" value="option4" checked> separating funnel
                        </label>
                      </div>
    
                      <li>The heterogenous mixture of undisolve particle in a giving medium is what</li>
            <div class="form-check-inline">
                <label class="form-check-label" for="radio1">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio13" value="option1" > universal solvent
                  </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="radio2">
                  <input type="radio" class="form-check-input" id="radio2" name="optradio14" value="option2" > solvent
                </label>
              </div>
              <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="radio3" name="optradio15" value="option3"> solution
                  </label>
                </div>
                <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" id="radio4" name="optradio16" value="option4" checked> suspension
                        </label>
                      </div>
    
                      <li>blue litmus turn red,this feature belong to what</li>
            <div class="form-check-inline">
                <label class="form-check-label" for="radio1">
                    <input type="radio" class="form-check-input" id="radio1" name="optradio17" value="option1" > base
                  </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label" for="radio2">
                  <input type="radio" class="form-check-input" id="radio2" name="optradio18" value="option2"> alcohol
                </label>
              </div>
              <div class="form-check-inline">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="radio3" name="optradio19" value="option3" checked> acid
                  </label>
                </div>
                <div class="form-check-inline">
                        <label class="form-check-label">
                          <input type="radio" class="form-check-input" id="radio4" name="optradio20" value="option4"> alkaline
                        </label>
                      </div>
          </ol>
          </form>

          <h2>BIOLOGY</h2>

          <form>
      
              <ol>
                <li>The following are regarded as father og genetic except  </li>
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio1" value="option1"> charles Dawin
                      </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio2">
                      <input type="radio" class="form-check-input" id="radio2" name="optradio2" value="option2" > Gregor Mendel
                    </label>
                  </div>
                  <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" id="radio3" name="optradio3" value="option3"> James wilson
                      </label>
                    </div>
                    <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" id="radio4" name="optradio4" value="option4" checked> Abraham lincoln
                            </label>
                          </div>
        
                          <li>Lack of protein in the body result to one of the following</li>
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio5" value="option1" > sleeping sickness
                      </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio2">
                      <input type="radio" class="form-check-input" id="radio2" name="optradio6" value="option2"> scurvy
                    </label>
                  </div>
                  <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" id="radio3" name="optradio7" value="option3"> night blindness
                      </label>
                    </div>
                    <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" id="radio4" name="optradio8" value="option4" checked> kwashiokor
                            </label>
                          </div>
        
                          <li>The species of animal that feed on plant are regarded as  </li>
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio9" value="option1" > carnivorus
                      </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio2">
                      <input type="radio" class="form-check-input" id="radio2" name="optradio10" value="option2"> omivores
                    </label>
                  </div>
                  <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" id="radio3" name="optradio11" value="option3"> herbivorus
                      </label>
                    </div>
                    <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" id="radio4" name="optradio12" value="option4" checked> wild animal
                            </label>
                          </div>
        
                          <li>Green plant obtain their food through what</li>
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio13" value="option1" > leave
                      </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio2">
                      <input type="radio" class="form-check-input" id="radio2" name="optradio14" value="option2" > root
                    </label>
                  </div>
                  <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" id="radio3" name="optradio15" value="option3" checked> stomata
                      </label>
                    </div>
                    <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" id="radio4" name="optradio16" value="option4"> mouth
                            </label>
                          </div>
        
                          <li>What is the smallest unit of life</li>
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio1">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio17" value="option1" > braim
                      </label>
                </div>
                <div class="form-check-inline">
                    <label class="form-check-label" for="radio2">
                      <input type="radio" class="form-check-input" id="radio2" name="optradio18" value="option2"> heart
                    </label>
                  </div>
                  <div class="form-check-inline">
                      <label class="form-check-label">
                        <input type="radio" class="form-check-input" id="radio3" name="optradio19" value="option3" > filament
                      </label>
                    </div>
                    <div class="form-check-inline">
                            <label class="form-check-label">
                              <input type="radio" class="form-check-input" id="radio4" name="optradio20" value="option4" checked> cell
                            </label>
                          </div>
              </ol>
              </form>

              <h2>GOVERNMENT</h2>

              <form>
      
                  <ol>
                    <li>Nigeria did their first census programm in which year  </li>
                    <div class="form-check-inline">
                        <label class="form-check-label" for="radio1">
                            <input type="radio" class="form-check-input" id="radio1" name="optradio1" value="option1"> 2008
                          </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label" for="radio2">
                          <input type="radio" class="form-check-input" id="radio2" name="optradio2" value="option2" checked> 2006
                        </label>
                      </div>
                      <div class="form-check-inline">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" id="radio3" name="optradio3" value="option3"> 2007
                          </label>
                        </div>
                        <div class="form-check-inline">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" id="radio4" name="optradio4" value="option4" > 2010
                                </label>
                              </div>
            
                              <li>who is the current oyo state governor</li>
                    <div class="form-check-inline">
                        <label class="form-check-label" for="radio1">
                            <input type="radio" class="form-check-input" id="radio1" name="optradio5" value="option1" > Abiola Ajimobi
                          </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label" for="radio2">
                          <input type="radio" class="form-check-input" id="radio2" name="optradio6" value="option2"> abdulfatai Bhuari
                        </label>
                      </div>
                      <div class="form-check-inline">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" id="radio3" name="optradio7" value="option3" checked> Seyi Makinde 
                          </label>
                        </div>
                        <div class="form-check-inline">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" id="radio4" name="optradio8" value="option4"> Bukola Saraki
                                </label>
                              </div>
            
                              <li> When did Nigeria got her independence   </li>
                    <div class="form-check-inline">
                        <label class="form-check-label" for="radio1">
                            <input type="radio" class="form-check-input" id="radio1" name="optradio9" value="option1" > sep 1st 1954
                          </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label" for="radio2">
                          <input type="radio" class="form-check-input" id="radio2" name="optradio10" value="option2"> oct 2nd 1960
                        </label>
                      </div>
                      <div class="form-check-inline">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" id="radio3" name="optradio11" value="option3"> oct 21st 1963
                          </label>
                        </div>
                        <div class="form-check-inline">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" id="radio4" name="optradio12" value="option4" checked> oct 1st 1960
                                </label>
                              </div>
            
                              <li>The arm of government that deal with formulation and implementation of law and order is </li>
                    <div class="form-check-inline">
                        <label class="form-check-label" for="radio1">
                            <input type="radio" class="form-check-input" id="radio1" name="optradio13" value="option1" > paliamentary
                          </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label" for="radio2">
                          <input type="radio" class="form-check-input" id="radio2" name="optradio14" value="option2" checked> executive
                        </label>
                      </div>
                      <div class="form-check-inline">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" id="radio3" name="optradio15" value="option3" > legislature
                          </label>
                        </div>
                        <div class="form-check-inline">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" id="radio4" name="optradio16" value="option4" > judiciary
                                </label>
                              </div>
            
                              <li>How many arm of government do we have in Nigeria</li>
                    <div class="form-check-inline">
                        <label class="form-check-label" for="radio1">
                            <input type="radio" class="form-check-input" id="radio1" name="optradio17" value="option1" > 2
                          </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label" for="radio2">
                          <input type="radio" class="form-check-input" id="radio2" name="optradio18" value="option2"> 5
                        </label>
                      </div>
                      <div class="form-check-inline">
                          <label class="form-check-label">
                            <input type="radio" class="form-check-input" id="radio3" name="optradio19" value="option3" checked> 3
                          </label>
                        </div>
                        <div class="form-check-inline">
                                <label class="form-check-label">
                                  <input type="radio" class="form-check-input" id="radio4" name="optradio20" value="option4" > 5
                                </label>
                              </div>
                  </ol>
                  </form>
                  <h2>ENGLISH</h2>
                  <div>Question not available </div>

                  
    <router-outlet></router-outlet>
   
  </div>
  
