<div class="container-fluid"> 
   <form>
      
      <ol>
        <li>The following are regarded as father of genetic except  </li>
        <div class="form-check-inline">
            <label class="form-check-label" (click)="service.tet(one_1.value,'bio', 0)">
                <input  #one_1 type="radio" [checked]='service.bio[0] == one_1.value' class="form-check-input" id="radio1" name="optradio1" value="charles Dawin"> charles Dawin
              </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" (click)="service.tet(one_2.value,'bio',0)">
              <input #one_2 type="radio"  [checked]='service.bio[0] == one_2.value' class="form-check-input" id="radio2" name="optradio1" value="Gregor Mendel" > Gregor Mendel
            </label>
          </div>
          <div class="form-check-inline">
              <label class="form-check-label" (click)="service.tet(one_3.value,'bio',0)">
                <input #one_3 type="radio" [checked]='service.bio[0] == one_3.value' class="form-check-input" id="radio3" name="optradio1" value="James wilson"> James wilson
              </label>
            </div>
            <div class="form-check-inline">
                    <label class="form-check-label" (click)="service.tet(one_4.value,'bio',0)">
                      <input #one_4 type="radio" [checked]='service.bio[0] == one_4.value' class="form-check-input" id="radio4" name="optradio1" value="Abraham lincoln"> Abraham lincoln
                    </label>
                  </div>

                  <li>Lack of protein in the body result to one of the following</li>
        <div class="form-check-inline">
            <label class="form-check-label" (click)="service.tet(two_1.value,'bio',1)">
                <input #two_1 type="radio" [checked]='service.bio[1] == two_1.value' class="form-check-input" id="radio1" name="optradio21" value="sleeping sickness" > sleeping sickness
              </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" (click)="service.tet(two_2.value,'bio',1)">
              <input  #two_2 type="radio" [checked]='service.bio[1] == two_2.value' class="form-check-input" id="radio2" name="optradio21" value="scurvy"> scurvy
            </label>
          </div>
          <div class="form-check-inline">
              <label class="form-check-label" (click)="service.tet(two_3.value,'bio',1)">
                <input #two_3 type="radio" [checked]='service.bio[1] == two_3.value' class="form-check-input" id="radio3" name="optradio21" value="night blindness"> night blindness
              </label>
            </div>
            <div class="form-check-inline">
                    <label class="form-check-label" (click)="service.tet(two_4.value,'bio',1)">
                      <input  #two_4 type="radio" [checked]='service.bio[1] == two_4.value' class="form-check-input" id="radio4" name="optradio21" value="kwashiokor"> kwashiokor
                    </label>
                  </div>

                  <li>The species of animal that feed on plant are regarded as  </li>
        <div class="form-check-inline">
            <label class="form-check-label" (click)="service.tet(three_1.value,'bio',2)">
                <input  #three_1 type="radio" [checked]='service.bio[2] == three_1.value' class="form-check-input" id="radio1" name="optradio22" value="carnivorus" > carnivorus
              </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" (click)="service.tet(three_2.value,'bio',2)">
              <input #three_2 type="radio" [checked]='service.bio[2] == three_2.value' class="form-check-input" id="radio2" name="optradio22" value="omivores"> omivores
            </label>
          </div>
          <div class="form-check-inline">
              <label class="form-check-label" (click)="service.tet(three_3.value,'bio',2)">
                <input #three_3 type="radio" [checked]='service.bio[2] == three_3.value' class="form-check-input" id="radio3" name="optradio22" value="herbivorus"> herbivorus
              </label>
            </div>
            <div class="form-check-inline">
                    <label class="form-check-label" (click)="service.tet(three_4.value,'bio',2)">
                      <input #three_4  type="radio" [checked]='service.bio[2] == three_4.value' class="form-check-input" id="radio4" name="optradio22" value="wild animal" > wild animal
                    </label>
                  </div>

                  <li>Green plant obtain their food through what</li>
        <div class="form-check-inline">
            <label class="form-check-label" (click)="service.tet(four_1.value,'bio',3)">
                <input #four_1 type="radio" [checked]='service.bio[3] == four_1.value' class="form-check-input" id="radio1" name="optradio11" value="leave" > leave
              </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" (click)="service.tet(four_2.value,'bio',3)">
              <input #four_2 type="radio" [checked]='service.bio[3] == four_2.value' class="form-check-input" id="radio2" name="optradio11" value="root" > root
            </label>
          </div>
          <div class="form-check-inline">
              <label class="form-check-label" (click)="service.tet(four_3.value,'bio',3)">
                <input #four_3 type="radio" [checked]='service.bio[3] == four_3.value' class="form-check-input" id="radio3" name="optradio11" value="stomata"> stomata
              </label>
            </div>
            <div class="form-check-inline">
                    <label class="form-check-label" (click)="service.tet(four_4.value,'bio',3)">
                      <input #four_4 type="radio"  [checked]='service.bio[3] == four_4.value' class="form-check-input" id="radio4" name="optradio11" value="mouth"> mouth
                    </label>
                  </div>

                  <li>What is the smallest unit of life</li>
        <div class="form-check-inline">
            <label class="form-check-label" (click)="service.tet(five_1.value,'bio',4)">
                <input #five_1  type="radio" [checked]='service.bio[4] == five_1.value' class="form-check-input" id="radio1" name="optradio19" value="brain" > brain
              </label>
        </div>
        <div class="form-check-inline">
            <label class="form-check-label" (click)="service.tet(five_2.value,'bio',4)">
              <input #five_2 type="radio" [checked]='service.bio[4] == five_2.value' class="form-check-input" id="radio2" name="optradio19" value="heart"> heart
            </label>
          </div>
          <div class="form-check-inline">
              <label class="form-check-label" (click)="service.tet(five_3.value,'bio',4)">
                <input #five_3 type="radio" [checked]='service.bio[4] == five_3.value' class="form-check-input" id="radio3" name="optradio19" value="filament" > filament
              </label>
            </div>
            <div class="form-check-inline">
                    <label class="form-check-label" (click)="service.tet(five_4.value,'bio',4)">
                      <input #five_4 type="radio" [checked]='service.bio[4] == five_4.value' class="form-check-input" id="radio4" name="optradio19" value="cell"> cell
                    </label>
                  </div>
      </ol>
      </form>
      
        <router-outlet></router-outlet> 
      </div>
      
 
