<div class="container-fluid "> 
      <form>
      
        <ol>
          <li>what is 2+2</li>
          <div class="form-check-inline" >
              <label class="form-check-label" for="radio1" (click)="service.tet(one_1.value,'math',0)">
                  <input #one_1 type="radio" [checked]='service.math[0] == one_1.value' class="form-check-input" id="radio1" name="optradio1" value="1" > 1
                </label>
          </div>
          <div class="form-check-inline" >
              <label class="form-check-label" for="radio2" (click)="service.tet(one_2.value,'math',0)">
                <input #one_2 type="radio" [checked]='service.math[0] == one_2.value' class="form-check-input" id="radio2" name="optradio1" value="4" > 4
              </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label"(click)="service.tet(one_3.value,'math',0)">
                  <input #one_3 type="radio" [checked]='service.math[0] == one_3.value' class="form-check-input" id="radio3" name="optradio1" value="8" > 8
                </label>
              </div>
              <div class="form-check-inline">
                      <label class="form-check-label"(click)="service.tet(one_4.value,'math',0)">
                        <input #one_4 type="radio" [checked]='service.math[0] == one_4.value' class="form-check-input" id="radio4" name="optradio1" value="3" > 3
                      </label>
                    </div>
  
                    <li>what is 5/2 - 3/5</li>
          <div class="form-check-inline">
              <label class="form-check-label" for="radio1" (click)="service.tet(two_1.value,'math',1)">
                  <input #two_1  type="radio" [checked]='service.math[1] == two_1.value' class="form-check-input" id="radio1" name="optradio5" value="3/4"  > 3/4
                </label>
          </div>
          <div class="form-check-inline">
              <label class="form-check-label" for="radio2" (click)="service.tet(two_2.value,'math',1)">
                <input #two_2 type="radio" [checked]='service.math[1] == two_2.value' class="form-check-input" id="radio2" name="optradio5" value="2/5" > 2/5
              </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label"(click)="service.tet(two_3.value,'math',1)">
                  <input #two_3 type="radio" [checked]='service.math[1] == two_3.value' class="form-check-input" id="radio3" name="optradio5" value="10/19" > 10/19
                </label>
              </div>
              <div class="form-check-inline">
                      <label class="form-check-label"(click)="service.tet(two_4.value,'math',1)">
                        <input #two_4 type="radio" [checked]='service.math[1] == two_4.value' class="form-check-input" id="radio4" name="optradio5" value="19/10"  > 19/10
                      </label>
                    </div>
  
                    <li>what is 12 % 3</li>
          <div class="form-check-inline">
              <label class="form-check-label" for="radio1" (click)="service.tet(three_1.value,'math',2)">
                  <input #three_1 type="radio" [checked]='service.math[2] == three_1.value' class="form-check-input" id="radio1" name="optradio9" value="3"  > 3
                </label>
          </div>
          <div class="form-check-inline">
              <label class="form-check-label" for="radio2" (click)="service.tet(three_2.value,'math',2)">
                <input #three_2 type="radio" [checked]='service.math[2] == three_2.value' class="form-check-input" id="radio2" name="optradio9" value="4" > 4
              </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label"(click)="service.tet(three_3.value,'math',2)">
                  <input #three_3 type="radio" [checked]='service.math[2] == three_3.value' class="form-check-input" id="radio3" name="optradio9" value="6" > 6
                </label>
              </div>
              <div class="form-check-inline">
                      <label class="form-check-label"(click)="service.tet(three_4.value,'math',2)">
                        <input #three_4 type="radio" [checked]='service.math[2] == three_4.value' class="form-check-input" id="radio4" name="optradio9" value="0" > 0
                      </label>
                    </div>
  
                    <li>Divid 144/12</li>
          <div class="form-check-inline">
              <label class="form-check-label" for="radio1" (click)="service.tet(four_1.value,'math',3)">
                  <input #four_1 type="radio" [checked]='service.math[3] == four_1.value' class="form-check-input" id="radio1" name="optradio13" value="8" > 8
                </label>
          </div>
          <div class="form-check-inline">
              <label class="form-check-label" for="radio2" (click)="service.tet(four_2.value,'math',3)">
                <input #four_2 type="radio" [checked]='service.math[3] == four_2.value' class="form-check-input" id="radio2" name="optradio13" value="12" > 12
              </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label"(click)="service.tet(four_3.value,'math',3)">
                  <input #four_3 type="radio" [checked]='service.math[3] == four_3.value' class="form-check-input" id="radio3" name="optradio13" value="24" > 24
                </label>
              </div> 
              <div class="form-check-inline">
                      <label class="form-check-label"(click)="service.tet(four_4.value,'math',3)">
                        <input #four_4 type="radio" [checked]='service.math[3] == four_4.value' class="form-check-input" id="radio4" name="optradio13" value="16" > 16
                      </label>
                    </div>
  
                    <li>what is 4^2</li>
          <div class="form-check-inline">
              <label class="form-check-label" for="radio1" (click)="service.tet(five_1.value,'math',4)">
                  <input #five_1 type="radio" [checked]='service.math[4] == five_1.value' class="form-check-input" id="radio1" name="optradio14" value="64"  > 64
                </label>
          </div>
          <div class="form-check-inline">
              <label class="form-check-label" for="radio2" (click)="service.tet(five_2.value,'math',4)">
                <input #five_2 type="radio" [checked]='service.math[4] == five_2.value' class="form-check-input" id="radio2" name="optradio14" value="32" > 32
              </label>
            </div>
            <div class="form-check-inline">
                <label class="form-check-label"(click)="service.tet(five_3.value,'math',4)">
                  <input #five_3 type="radio" [checked]='service.math[4] == five_3.value' class="form-check-input" id="radio3" name="optradio14" value="16" > 16
                </label>
              </div>
              <div class="form-check-inline">
                      <label class="form-check-label" (click)="service.tet(five_4.value,'math',4)">
                        <input #five_4 type="radio" [checked]='service.math[4] == five_4.value' class="form-check-input" id="radio4" name="optradio14" value="8" > 8
                      </label>
                    </div>
        </ol>
      </form>
      <!-- <router-outlet></router-outlet> -->
</div>